@font-face {
    font-family: Sofia Pro;
    font-weight: 603;
    font-style: normal;
    font-display: block;
    src: url('/cdn/fonts/sofiapro/SofiaPro-SemiBold.woff2') format('woff2'), url('/cdn/fonts/sofiapro/SofiaPro-SemiBold.woff') format('woff');
}

@font-face {
    font-family: Sofia Pro;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url('/cdn/fonts/sofiapro/SofiaPro-Regular.woff2') format('woff2'), url('/cdn/fonts/sofiapro/SofiaPro-Regular.woff') format('woff');
}

@font-face {
    font-family: Sofia Pro;
    font-weight: 500;
    font-style: normal;
    font-display: block;
    src: url('/cdn/fonts/sofiapro/SofiaPro-Medium.woff2') format('woff2'), url('/cdn/fonts/sofiapro/SofiaPro-Medium.woff') format('woff');
}

@font-face {
    font-family: Sofia Pro;
    font-weight: 300;
    font-style: normal;
    font-display: block;
    src: url('/cdn/fonts/sofiapro/SofiaPro-Light.woff2') format('woff2'), url('/cdn/fonts/sofiapro/SofiaPro-Light.woff') format('woff');
}

@font-face {
    font-family: Sofia Pro;
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src: url('/cdn/fonts/sofiapro/SofiaPro-Bold.woff2') format('woff2'), url('/cdn/fonts/sofiapro/SofiaPro-Bold.woff') format('woff');
}